@keyframes FadeInOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes LeftToRight {
	0% {
		margin-left: -100px;
	}
	100% {
		margin-left: 100px;
	}
}

@mixin animation-line {
	-webkit-animation-name: LeftToRight;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 3.5;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
}
@mixin animation-fade {
	-webkit-animation-name: FadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
}
