$main-color: #ffffff;
$main-background: #000000;
$second-background: #f0f0f0;
$background-yellow: #fefa00;
$background-green: #40be37;

$border-color-dashed: #b7b4b4;
$header-background: #27262e;
$text-color-black: #000000;
$text-color-grey: #666666;
$text-color-grey2: #969696;
$text-color-blue: #447be7;
$text-color-pink: #ff496a;
$border-color: #e5e5e5;
$border-color2: #3d3d47;
$border-color3: #333333;
$border-color4: #b3b3b3;
$dot-separator: #d9d9d9;
$reject-background: #ffebeb;
$reject-text: #87181a;
