@import "@styles/global.scss";

.product-details {
	display: flex;
	flex-direction: row;

	width: 100%;
	padding-bottom: 16px;

	&:first-child {
		padding-top: 16px;
	}
}

.product-image {
	width: 144px;
	height: 196px;
}

.product-attributes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 265px;
	max-width: 265px;
	margin-left: 20px;
	color: $text-color-black;
	text-align: left;
}

.first-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
}

.product-attribute {
	width: fit-content;
	font-size: 14px;
	padding: 8px 12px;
	background-color: $second-background;
	border-radius: 16px;

	&:first-child {
		margin-right: 6px;
	}

	.bold {
		font-weight: 600;
	}
}

.barcode-img-container {
	max-width: 90%;
	height: 67px;
	margin-top: 14px;
}

.barcode-modal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 560px;
	height: 347px;
}

.barcode-img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.large-img {
	max-width: 620px;
	max-height: 720px;
}

.product-attribute-title {
	font-weight: 600;
	margin-bottom: 14px;
	line-height: 130%;
}
